
body{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    padding:0px;
    margin: 0px;
    width:100%;
    height: 800px;
    font-size:20px;
    background-color: #26527f;
}

#form{
    background-color: #26527f;
    font-family: "Roboto", "Lucida Grande", Verdana, Arial, sans-serif;
    font-size: 18px;
    color:white;
    border-color:white;
}

#app {
    width:100%;
    color:white;
    background-color: #26527f;
    height:100%;
}

.app__container {
    width:70%;
    margin:auto;
    padding-top:5%;
    height:100%;
}
.page__buttons {
    color:white;
    background-color: #26527f;
    padding: 10px;
    border:0.5px solid white;
    border-radius: 4px;
}
.content__block .page__buttons {
    margin-bottom: 20px;
    width:200px;
    text-align:center;
}

a,a:link,a:visited {
    color:white;
}
a:focus, a:hover {
    color: wheat;
}

.each__mail_ a {
    display: block;
    margin-bottom:30px;
    text-decoration: none;
    border-left: 1px solid white;
    border-top:1px groove white;
    padding:4px;
    border-radius:2px;
}

.content__spacer_big {
    width:100%;
    height:50px;
}

.content__spacer_small {
    width:100%;
    height:30px;
}

.each__mail_ a  {
    display: grid;
    grid-template-columns: 1fr  1.5fr 3fr 1fr;
    grid-column-gap: 10px;
}
.item-container{
    width: 400px;
    min-height: 200px;
    margin: 0 auto;
	font-size: 22px;
    color:grey;
    font-family: monospace;
    margin-top:100px;
    border-radius:10px;
    border:0.5px ridge grey;
    padding:30px;


}
.form__group {
    display:grid;
    grid-template-columns: 1fr 1fr ;
    grid-column-gap: 10px;
    margin-bottom:10px;
}

.form__error {
    color:red;
    font-size:12px;
    text-align:center;
    margin-bottom:10px;
}
.form__success{
    color: cadetblue;
    font-size: 15px;
    text-align: center;
    margin-bottom: 10px;
    font-family: "Roboto", "Lucida Grande", Verdana, Arial, sans-serif;
}

#submit__group {
    display: block;
    float: right;
}

button#btn__delete{
    font-size: 15px;
    padding: 13px;
    margin-bottom: 10px;
    background: skyblue;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    border-radius: 7.5px;
}