{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <script rel="script" src="{% static 'js/script.js' %}"></script>
    <meta charset="UTF-8">
    <title>Home</title>
</head>
<body>

    <div id="app">

        <div id="container">

            <div id="card_holder">

                <div class="card_row">

                     <div class="card" id="create_mail" onmouseenter="say('Create Mail');">
                        <h1>
                            <a href="{% url 'compose' %}">CREATE MAIL</a>
                        </h1>
                    </div>

                     <div class="card" id="read_mail" onmouseenter="say('Read Mail');">
                        <h1>
                            <a href="{% url 'inbox' %}">READ MAIL</a>
                        </h1>
                    </div>

                </div>

                <div class="card_row">

                     <div class="card" id="delete_mail" onmouseenter="say('Delete Mail');">
                        <h1>
                            <a href="{% url 'trash' %}">DELETE MAIL</a>
                        </h1>
                    </div>

                     <div class="card" id="sign_out" onmouseenter="say('Sign out');">
                        <h1>
                            <a href="{% url 'logout' %}">SIGN OUT</a>
                        </h1>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>