{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Home</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <script rel="script" src="{% static 'js/script.js' %}"></script>
</head>
<body>
<div id="app">
    <div class="app__container">
        <header>
            <button class="page__buttons" style="font-size:20px;">Action Center</button>
        </header>


        <section>
            <br>
            <p class="intro__text">You can choose from our options what to do. Press tab to continue</p>
            <div class="content__spacer_big"></div>

            <div class="content__block" style="margin-left:150px;">

                <button class="page__buttons" style="font-size:20px;" onmouseenter="say('Create Mail');" onfocus="say('Create Mail');
"><a href="{% url 'compose' %}">Create Mail</a></button>
                <br>
                <button class="page__buttons" style="font-size:20px;" onmouseenter="say('Read Mail');"
                        onfocus="say('Read Mail');"><a href="{% url 'inbox' %}">Read Mail</a></button>
                <br>
                <button class="page__buttons" style="font-size:20px;" onmouseenter="say('Delete Mail');"
                        onfocus="say('Delete Mail');"><a href=" #
                ">Delete Mail</a></button>
                <br>
                <button class="page__buttons" style="font-size:20px;" onmouseenter="say('Sign Out');"
                        onfocus="say('Sign Out');"><a href="
                {% url 'logout' %}">Sign Out</a></button>

            </div>

            <div class="content__spacer_small"></div>

        </section>
    </div>
</div>
</body>
</html>
