{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <script rel="script" src="{% static 'js/script.js' %}"></script>
    <meta charset="UTF-8">
    <title>Home</title>
</head>
<body>

    <div id="app">

        <div id="container">

            <div id="card_holder">

                <div class="card_row">

                     <div class="card" id="create_mail" onmouseenter="say('Create Mail');">
                        <h1>
                            <a href="{% url 'compose' %}">CREATE MAIL</a>
                        </h1>
                    </div>

                     <div class="card" id="read_mail" onmouseenter="say('Read Mail');">
                        <h1>
                            <a href="{% url 'inbox' %}">READ MAIL</a>
                        </h1>
                    </div>

                </div>

                <div class="card_row">

                     <div class="card" id="delete_mail" onmouseenter="say('Delete Mail');">
                        <h1>
                            <a href="{% url 'trash' %}">DELETE MAIL</a>
                        </h1>
                    </div>

                     <div class="card" id="sign_out" onmouseenter="say('Sign out');">
                        <h1>
                            <a href="{% url 'logout' %}">SIGN OUT</a>
                        </h1>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
<script>


    let say = function (words){
        webSpeech(words);
    }

    let webSpeech = function(words){

        let synth = window.speechSynthesis;
        let utterance = window.SpeechSynthesisUtterance;
        utterance.rate = 0.1;

        return synth.speak(new utterance(words));
    }
    window.addEventListener('load',function(){

     say("Welcome, You can read mail, create mail, delete mail and sign out on this page, Thank you");
    })

    var recognition = new SpeechRecognition();
    recognition.onstart = function () {
        
    }

</script>
</html>