{% load static %}
<!Doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <script rel="script" src="{% static 'js/script.js' %}"></script>
</head>
<body>

<form class="item-container" id="form" method='post' action="/home/">
         <div  class="form__error">
             <span onmouseenter="say('error found')">{{ exception }} </span>
        </div>
         <div  class="form__error">
             <span>{{ error }}</span>
        </div>
        <h4>Login</h4>

        {%  csrf_token %}

        <div class="form__group">
            <label for="username">{{ form.email.label }}</label>
            <span onmouseenter="say('Enter your Email Address');">{{ form.email}}</span>
        </div>

        <div  class="form__group">
             <label for="password">{{ form.password.label }}</label>
             <span onmouseenter="say('enter your password')">{{ form.password}}</span>

        </div>
        <div  class="form__group" id="submit__group">
            <input type="submit" name="submit" value="Login" onmouseenter="say('click to login')">


        </div>



</form>

</body>
</html>