{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">

</head>
<body>
    <div id="app">
        <div id="container">
            <form class="item-container" method='post' action="/send_mail/">

         <div  class="form__error">
            {{ exception }}
        </div>
         <div  class="form__error">
            {{ error }}
        </div>
        <div  class="form__error">
            {{ invalid }}
        </div>
         <div  class="form__success">
            {{ success }}
        </div>

        <h4>Send Mail</h4>

        {%  csrf_token %}

        <div class="form__group">
            <label for="sender">{{ form.sender.label }}</label>
            {{ form.sender}}
        </div>
         <div  class="form__group">
             <label for="recepient">{{form.recipient.label }}</label>
             {{ form.recipient}}
         </div>
           <div class="form__group">
            <label for="subject">{{ form.subject.label }}</label>
            {{ form.subject}}
        </div>
         <div class="form__group">
            <label for="messsage">{{ form.message.label }}</label>
            {{ form.message}}
        </div>


        <div  class="form__group">
             <label for="password">{{ form.password.label }}</label>
             {{ form.password}}

        </div>
        <div  class="form__group" id="submit__group">
            <input type="submit" name="submit" value="Send">

        </div>



</form>
        </div>
    </div>
</body>
</html>