{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <script rel="script" src="{% static 'js/script.js' %}"></script>

</head>
<body>
    <div id="app">
        <div id="container">
            <form class="item-container" id="form" method='post' action="/send_mail/" onmouseenter="say('Send your mails through this form. Hit enter after typing')">

         <div  class="form__error">
            {{ exception }}
        </div>
         <div  class="form__error">
            {{ error }}
        </div>
        <div  class="form__error">
            {{ invalid }}
        </div>
         <div  class="form__success">
            {{ success }}
        </div>

        <h4>Send Mail</h4>

        {%  csrf_token %}
         <div  class="form__group">
             <label for="recepient">{{form.recipient.label }}</label>
             <span  onmouseenter="say('Enter your recipient address')"> {{ form.recipient}} </span>
         </div>
           <div class="form__group">
            <label for="subject">{{ form.subject.label }}</label>
               <span  onmouseenter="say('Type your email subject')"> {{ form.subject}}</span>
        </div>
         <div class="form__group">
            <label for="messsage">{{ form.message.label }}</label>
             <span  onmouseenter="say('Enter your message')" ondblclick="speech_recognition()">{{ form.message}}</span>
        </div>
        <div  class="form__group" id="submit__group">
            <input type="submit" name="submit" value="Send"  onmouseenter="say('Press enter to send')">

        </div>



</form>
        </div>
    </div>
</body>
</html>