{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Mails inbox</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <script rel="script" src="{% static 'js/script.js' %}"></script>
</head>
<body>
<div id="app">
    <div class="app__container">
        <header>
            <button class="page__buttons" style="font-size:20px;">Mail box</button>
        </header>


        <section>
            <p class="intro__text">Mail successfully moved to 'deleted' folder. Mail will be forever deleted after 30 days.</p>
            <div class="content__spacer_small"></div>
            <div class="content__footer">
                <button class="page__buttons" onmouseenter="say('delete mail');"><a href="{% url 'home' %}">Back to Main Menu</a></button>
            </div>
        </section>
    </div>
</div>
</body>
</html>
